:root {
    
    /* Colors */
		
		/* Main colors */
        --color_page_left_one: #677acf;
        --color_page_left_two: #7386d5;
        --color_page_top: #8cd3aa;
		--color_page_background: #e1eaeb;
		--color_box_background: #ffffff;
		
        /* Main font colors */
        --color_font_white: #ffffff;
        --color_font_gray: #6a6464;
		--color_font_gray_dark: #545353;
		
		/* Light colors */
        --color_light_blue: #d8eaf9;
        --color_light_green: #d9f3e6;
        --color_light_yellow: #fcf5e6;
        --color_light_gray: #acb7d0;
        --color_light_red: #fbe6f3;

        /* Strong colors */
        --color_strong_blue: #73a6ff;
        --color_strong_green: #8cd3aa;
        --color_strong_yellow: #f5cd7f;
        --color_strong_gray: #5a769a;
        --color_strong_red: #f27e93;

    /* Dimensions */
	--page_distance_top: 8vh;
	--page_distance_bottom: 92vh;
    --page_left: 250px;
    --box_padding_full: 10px;
    --box_padding_half: 5px;
    --box_padding_full_and_half: 20px;
}

.toggled {
    margin-left: -16rem;
}

.collapse {
    display: none;
}

.search {
    background: var(--color_box_background);
    color: var(--color_light_gray);
    padding: var(--model_padding);
    padding-left: 30px;
    padding-right: 30px;
    border: none;
    font-size: 1.1em;
}

*:focus {
    outline: none;
}

.grid-box {
    display: flex;
    flex-direction: row;
    margin-bottom: var(--box_padding_full);
    background: var(--color_box_background);
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
}

.margin-half {
    margin-left: var(--box_padding_half);
    margin-right: var(--box_padding_half);
}


/*   -----   ACTION BUTTON   -----   */
.action-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: var(--box_padding_full);
    cursor: pointer;
    height: 30px;
    width: 30px;
}

.action-button:hover {
    background: var(--color_strong_red);
}


/*   -----   CLICK ANIMATION   -----   */
.click-animation {
    transition: transform 100ms;
}

.click-animation:active {
    transform: scale(0.9);
}


/*   -----   ARIA LABEL   -----   */
[aria-label] {
    position: relative;
}

[aria-label]::before {
    content: attr(aria-label);
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 20px;
    left: 0;
    background: var(--color_light_blue);
    color: var(--color_font_gray_dark);
    padding: 5px;
    border: 2px #ccc solid;
    transition: .5s ease-in-out;
    transition-property: opacity, visibility;
}

[aria-label]:hover::before {
    opacity: 1;
    visibility: visible;
}